{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@api/*": ["./src/api/*"],
      "@identity-and-access/*": ["./src/identity-and-access/*"],
      "@modules/*": ["./src/modules/*"],
      "@packages/*": ["./src/packages/*"],
      "@shared-kernel/*": ["./src/shared-kernel/*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
