{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@core/*": ["./src/core/*"],
      "@identity-and-access/*": ["./src/identity-and-access/*"],
      "@shared-kernel/*": ["./src/shared-kernel/*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
